
.add-score-popup-overlay {
  position: fixed;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-score-popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-score-popup .close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: end;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  top: 20px; 
}

.add-score-popup input {
  padding: 10px 0px 10px 10px;
}

.add-score-popup button {
  background-color: goldenrod;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 0px 10px 10px;
}